* {
    margin: 0px;
    padding: 0px;
    
}
body {
    background-image: url(./img/3.jpg);
    background-size: cover;
    position:relative;
}
.container1 {
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content:flex-end;
}
nav ul li {
    display: inline-flex;
    padding: 5px;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav ul li a:hover {
    text-decoration: underline 3px red;
    color:red;
    transform: scale(1.2);
}
.intro h1 {
    color: white;
    font-size: 100px;
    position: relative;
    display: flex;
    margin-top: 15%;
    margin-left: 10%;
}